@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

#header {
  border-bottom: 1px solid #e8e8e8;
  height: 75px;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner__logo {
  margin-top: 7.5px;
  width: 188px;
}
.header__inner__logo__image {
  width: 100%;
}

.masthead {
  width: 100%;
}
.masthead__banner {
  height: 68vw;
  background-color: #f1f1f1;
}
.masthead__banner__inner {
  width: 80%;
  margin: 0 auto;
}
.masthead__banner__inner__title {
  padding-top: 100px;
}
.masthead__banner__inner__title__p {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.46;
  color: #242426;
}
.masthead__banner__inner__desc {
  padding-top: 24px;
}
.masthead__banner__inner__desc__p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #242426;
}
.masthead__links {
  display: flex;
  flex-direction: row;
}

.masthead__links__item {
  width: 50%;
  border: solid 1px #e8e8e8;
  display: flex;
  flex-direction: column;
}
.masthead__links__item__name {
}

@media (min-width: 1200px) {
  #header {
    height: 75px;
  }
  .header__inner__logo {
    margin-top: 7.5px;
    width: 188px;
  }

  .masthead__banner {
    height: 980px;
    background-color: #f1f1f1;
  }
  .masthead__banner__inner {
    width: 1140px;
  }
  .masthead__banner__inner__title {
    padding-top: 100px;
  }
  .masthead__banner__inner__title__p {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.46;
    color: #242426;
  }
  .masthead__banner__inner__desc {
    padding-top: 24px;
  }
  .masthead__banner__inner__desc__p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #242426;
  }
}
