@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

p {
  margin-bottom: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #e8e8e8;
  height: 75px;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner__logo {
  margin-top: 7.5px;
  width: 188px;
}
.header__inner__logo__image {
  width: 100%;
}

.masthead {
  width: 100%;
}
.masthead__banner {
  height: 68vw;
  background-color: #f1f1f1;
}
.masthead__banner__inner {
  width: 80%;
  margin: 0 auto;
}
.masthead__banner__inner__title {
  padding-top: 100px;
}
.masthead__banner__inner__title__p {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.46;
  color: #242426;
}
.masthead__banner__inner__desc {
  padding-top: 24px;
  width: 484px;
}
.masthead__banner__inner__desc__p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #242426;
}
.masthead__links {
  display: flex;
  flex-direction: row;
}

.masthead__links__item {
  width: 50%;
  border: solid 1px #e8e8e8;
  display: flex;
}
.masthead__links__item__blankLeft {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.masthead__links__item__blankRight {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 720px;
}
.masthead__links__item__inner {
  width: 570px;
  display: flex;
  flex-direction: column;
  margin-left: 0 auto;
}
.masthead__links__item__inner__name {
  padding-top: 55px;
  font-size: 16px;
  font-weight: bold;
  color: #242426;
}
.masthead__links__item__inner__title {
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #242426;
}
.masthead__links__item__inner__desc {
  font-size: 16px;
  color: #909090;
  padding-top: 16px;
  padding-bottom: 53px;
}

.stat {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}
.stat__title {
  margin-bottom: 50px;
}
.stat__title p {
  font-size: 32px;
  font-weight: bold;
  line-height: 0.88;
  color: #242426;
}
.stat__desc p {
  font-size: 16px;
  line-height: 1.75;
  color: #242426;
}

.stat-cards {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}
.stat-cards__col {
}
.stat-cards__col__card {
}
.stat-cards__col__card__img {
  height: 240px;
}
.stat-cards__col__card__body {
  height: 180px;
  padding: 20px 16px;
}
.stat-cards__col__card__body__category {
  font-size: 14px;
  color: #242426;
  margin-bottom: 16px;
}
.stat-cards__col__card__body__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.stat-cards__col__card__body__title__text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.4px;
}
.stat-cards__col__card__body__title__arrow {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
.stat-cards__col__card__body__desc {
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #909090;
}

/* business */
.categoryBadge {
  padding: 3px 10px;
  border-radius: 30px;
  border: solid 1px #909090;
}

@media (min-width: 1200px) {
  #header {
    height: 75px;
  }
  .header__inner__logo {
    margin-top: 7.5px;
    width: 188px;
  }

  .masthead__banner {
    height: 980px;
    background-color: #f1f1f1;
  }
  .masthead__banner__inner {
    width: 1140px;
  }
  .masthead__banner__inner__title {
    padding-top: 100px;
  }
  .masthead__banner__inner__title__p {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.46;
    color: #242426;
  }
  .masthead__banner__inner__desc {
    padding-top: 24px;
  }
  .masthead__banner__inner__desc__p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #242426;
  }

  .stat {
    padding-top: 60px;
    width: 1140px;
    margin: 0 auto;
  }

  .stat-cards {
    padding-top: 60px;
    width: 1140px;
    margin: 0 auto;
  }
}
