@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

#header {
  border-bottom: 1px solid #e8e8e8;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner__logo__image2x {
  display: none;
}
.header__inner__logo__image {
  width: 100%;
}

@media (min-width: 1200px) {
  #header {
    height: 75px;
  }
  .header__inner__logo {
    margin-top: 7.5px;
    width: 188px;
  }
}

@media only screen and (min-resolution: 2) {
  .header__inner__logo__image {
    display: none;
  }
  .header__inner__logo__image2x {
    width: 100%;
  }
}
